.form-check {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.5rem;
  font-weight: 400;
}

.form-text {
  font-size: 1rem;
  font-weight: 600;
}

.col {
  margin-bottom: 30px;
}

.table {
  text-align: center;
}
